@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

.containerapi{
    font-family: "Sedan", serif;

}

.cardapi{
    
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.cardapi:hover{
    transform: scale(1.1);
}

.itemname{
    background: linear-gradient(
    to top,
    rgba(34, 34, 34,0.85),
    transparent
  );
  width: 250px;
  padding-bottom: 10px;
   padding-top: 15px; 
}